*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background: rgb(21, 18, 47);
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
background-image: url('a.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;

  }
.body p{
    color: #ffffff44;
    
        white-space: nowrap;
    
}
.container{
    border: 10px solid royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   color:rgb(0, 104, 214);
   font-size: 32px;
   border-radius: 50%;
   background: rgb(0, 0, 0);
   box-shadow: 0 0 5px #00BBCD,0 0 10px #00BBCD,0 0 15 #00BBCD;
   transition: 1;
}
.container.h4{
    background-color: rgb(47, 6, 3);
}
.container:hover{
    transform: scale(1.1);
    transition: 0.8 ease ;
    cursor:pointer;
 }
.blink-colon{
    animation: blink 1s infinite linear;
 }
 .time{
   
    padding:10,15,16,20;
 }
@keyframes blink{
    0%,100%{opacity: 1;}
    30%{opacity: 0.4;}
}
.data-container{
    margin-top: 60px;
    font-size: 24px;
    justify-content: center;
    color: #00aeff;
}
.data-container.h1{
    color: aliceblue;
}
  